

# --- Web 框架 ---
flask>=3.0,<4.0
fastapi>=0.110,<1.0
uvicorn[standard]>=0.29,<1.0

# --- 数据库 ---
# sqlalchemy>=2.0,<3.0
# psycopg2-binary>=2.9

# --- 数据处理  ---
pandas>=2.0,<3.0

# --- 其他业务依赖 ---
# requests>=2.31,<3.0
